html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main {
  display: grid;
  grid-template-columns: 50% 50%;  
  margin: 0 auto;
}

.button {
  padding: 0rem 1rem;
  max-width: 14rem;
}

.groupingItem {
  margin: 0.5rem 0rem;
}

#info {
  text-align: center;
}

#creation {
  text-align: center;
}

#newCharacterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 4rem;
}

#content {
  margin-top: 100px;
  font-size: 2em;
  text-align: center;
}