html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
}

.button {
  padding: 0rem 1rem;
  max-width: 14rem;
}

.groupingItem {
  display: flex;
  margin: 0.5rem 0rem;
}

.characterList {
  list-style: none;
}

#info, #creation {
  text-align: center;
}

#newCharacterForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 4rem;
}

#content {
  margin-top: 100px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  main {
    display: flex;
    flex-direction: column; 
    margin: 0 auto;
  }
  
  #info, #creation {
    text-align: center;
    margin: 1rem 0rem;
  }
}